@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900 & family= Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600,1,8000;1,8000 ; mostrar=cambiar');

:root{
    /* Background colors */
    --background1: #99c725;
    --background2: #051f25;
    --primary: #25a2b2;

    /* Text colors */
    --text-white: #ffffff;
    --text-greenblue: #082b30;
       
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* Header */

header {
    background: var(--background1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 40px 0px 40px;
    position: fixed;
    top: 0;  
}

.logo {
    height: 100%;
}

.navbar, 
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 50px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: var(--text-white);
    font-size: 14px;
}

.navbar-list li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    width: 100%;
}

/* HERO */ 

#hero {
    margin-top: 65px;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background2);
    width: 100%;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 42px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
}

.hero-info p {
    font-size: 14px;
    width: 70%;
}

.buttons-hero a {
    color: #ffffff;
    background-color: #99c725;
    font-size: 12px;
    font-weight: 300;
    width: 100px;
    padding: 8px 10px;
    border-radius: 10px;
    text-align: center;

}

.buttons-hero { 
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.hero-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-card img {
    background-position: center;
    background-size: cover;
    background: #051f25;
    border-radius: 15px; 
}

/* INFO */

#info {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction p {
    color: var(--background2);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    max-width: 1200px;
    padding: 0px 90px;
}

.introduction span {
    font-weight: 800;
}

/* Info Cards */

#info-cards {
    background: var(--background2);
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px
}

#info-cards h2 {
    font-size: 32px;
    font-weight: 700;
}

.info-card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.info-card {
    width: 300px;
    height: 290px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--background2);
    border-radius: 10px;
    border-style: solid;
    border-color: #99c725;
    gap: 20px;
}

.info-card h3 {
    font-size: 20px;
    font-weight: 600;
}

.info-card p {
    font-weight: 200;
    font-size: 14px;
}

.icon-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 80px;
}

/* Contact */

#contact {
    background: var(--background2);
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
 
}

#contact h2 {
    font-size: 32px;
    font-weight: 700;
}

.info-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding: 25px;
}


.icon-container {
    background: #051f25;
    display: flex;
    justify-content: center;
    align-items: center;}

.icon-container span {
    font-size: 20px;
    font-weight: 600;
}

.icon-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 25px  0 0 0;
}

.icon-contact {
    gap: 15px;
    width: 20px;
}

.info-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    background: var(--background2);
    border-radius: 10px;
    width: 500px;
    height: 300px;
}

/* Footer */

footer {
    background: #ffffff;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;    
}

footer p {
    font-weight: 500;
    font-size: 14px;
    color: var(--background2);
}

.logo-azul {
    height: 70%;
}

